<section id="AboutUs">
  <div class="container">

    <h4> We transport pleasure to the world </h4>
    <div class="line">

    </div>

    <div class="mision">
      <img src="/assets/images/mision.png" alt="">
      <h5> Mision </h5>
      <p> We seek to obtain maximum profitability for our shareholders and ensure the sustainability of our business, Working to fulfill our commitment to the environment, workers and stakeholders. </p>
      <p> Always working under criteria of safety, hygiene and expert handling. </p>
    </div>

    <div class="vision">
      <img src="/assets/images/vision.png" alt="">
      <h5> Vision </h5>
      <p> To achieve by 2022 to be an international ally in the purchase of agricultural products, always looking for new products of the highest quality to our customers. </p>
    </div>

    <div class="our-team">
      <img src="/assets/images/team.png" alt="">
      <h5> Our Team  </h5>
      <p> We consider our human capital essential to our misión, For this reason we look after your well-being, In addition to the salary remuneration, We offer a good organizational climate And the conditions necessary for them to carry out their work in a comfortable, efficient and safe manner. We are constantly training them in key activities to ensure the proper execution of our activities. </p>
    </div>
  </div>
</section>
