<section id="Contact">
  <div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.536547250476!2d-74.8015883851972!3d10.998311992171201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d75c23d9d9b%3A0x98e2436e6471b638!2sPrado+Office+Center!5e0!3m2!1ses!2sco!4v1531672059972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    <div class="cia card">
      <h4> Get in touch with Us! </h4>

      <p class="location">
        <b> <img src="assets/images/location.png" alt=""> PRADO OFFICE CENTER</b><br>
        Carrera 54 N° 68-196 Oficce 423 <br>
        Barranquilla/ Colombia
      </p>

      <p class="phone">
        <b> <img src="assets/images/phone.png" alt=""> Cellphone:</b> (+57) 304 5254119  <br>
        <b><img src="assets/images/phone.png" alt=""> Telephone:</b> (+57) (5) 3144870
      </p>

      <p class="email">
        <a href="mailto:comercial@ciagropecuariadelcaribe.com?Subject=Hello"> <img src="assets/images/mail.png" alt=""> comercial@ciagropecuariadelcaribe.com </a> <br>
        <a href="mailto:ciagropecuariadelcaribe@gmail.com?Subject=Hello"> <img src="assets/images/mail.png" alt=""> ciagropecuariadelcaribe@gmail.com </a>
      </p>

      <p class="social">
        <a href="https://www.facebook.com/CIagropecuariadelcaribe" class="facebook"> <img src="assets/images/facebook.png" alt=""> /CIagropecuariadelcaribe </a> <br>
        <a href="https://twitter.com/ciadelcaribe" class="twitter"> <img src="assets/images/twitter.png" alt=""> @ciadelcaribe </a>
      </p>

    </div>
  </div>
</section>
