<section id="Exportations">

  <img src="/assets/images/waves.png" alt="" class="waves" id="waves">
  <img src="/assets/images/cloud.png" alt="" class="cloud" id="cloud">
  <img src="/assets/images/clouds.png" alt="" class="clouds" id="clouds">
  <img src="/assets/images/clouds.png" alt="" class="clouds2" id="clouds2">


  <div class="container">
    <h4> Our Business Lines </h4>
    <div class="line"></div>

    <section class="wholesalers">
      <h5>Wholesalers - Caribe Stock</h5>

      <div class="illustration">
        <img src="/assets/images/normal-ship.png" alt="">
      </div>

      <div class="description">
        <p class="description">
          It is the wholesale line, the minimum order quantity is 1 container, its shipping is maritime and depends on the available routes. <br>
          INCOTERM : FOB, CIF
        </p>
      </div>

      <div class="payment">
        <b> Payment Method: </b>
        <ul>
          <li>Wire transfer, Advance or cash.</li>
          <li>Letter of credit (LC) - irrevocable - confirmed - divisible.</li>
        </ul>
      </div>
    </section>


    <section class="express">
      <h5>Caribe Stock <i>Express</i></h5>

      <div class="illustration">
        <img src="/assets/images/express-ship.png" alt="">
      </div>

      <div class="description">
        <p>It is the fast line for international shipments of Caribbean Stock products, the means of transport is aerial and its delivery is from 1 to 4 working days, depending on the availability of flights and stopovers. <br>
        INCOTERM : FCA, CNF</p>
      </div>

      <div class="payment">
        <b> Payment Method: </b>
        <ul>
          <li>Wire transfer, Advance or cash.</li>
          <li>Letter of credit (LC) - irrevocable - confirmed - divisible.</li>
        </ul>
      </div>
    </section>
  </div>
</section>
