<header id="HeaderSection">
  <section>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="#"> <img src="/assets/images/logo2.png" alt="" width="40px" height="56px"> <img src="/assets/images/logo1.png" alt="" width="87px" height="57px"> </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"> <img src="/assets/images/menu.png" alt=""> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#AboutUs">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Exportations">International Logistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link button" href="#Contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>

  <section>
    <div class="container">
      <div class="banner-content">
        <h1> C.I. Agropecuaria del Caribe </h1>
        <i> Very Fresh & Healthy </i>
        <p> We are a trading company of international food products, Always looking for products with certified quality to achieve the satisfaction of our customers. </p>
      </div>
    </div>
  </section>

  <img src="/assets/images/meat3.png" alt="" class="float-meat">
</header>
