<section id="Products">
  <div class="container">
    <h4> Our Products </h4>
    <span class="line"></span>
    <p class="description"> In C.I. Agropecuaria del Caribe SAS we seek the best food products complying with the requirements of safety, hygiene and handling, We guarantee our processes, And our main purpose is to fulfill in time and place each of the deliveries that our customers request. </p>

    <div class="beef">
      <div>
        <div class="content">
          <h5> Marketing of Beef </h5>
          <p> We have the best Meat products fulfilling the requirements of innocuity, hygiene and manipulation Our products:</p>
          <ul>
            <li> Beef </li>
            <li> Cattle </li>
          </ul>
          <a href="#"> <img src="/assets/images/download.png" alt=""> Save Details PDF </a>
        </div>
      </div>
    </div>

    <div class="cattle">
      <div>
        <div class="content">
          <h5> Marketing of Cattle </h5>
          <p> Our products are native to all of South America, Colombia, Uruguay, Brazil, Argentina, Peru, Chile, Bolivia and Paraguay. Our Cattle come from the following breeds Brahman, Nelore, Angus, Overo Colorado and Hereford. </p>
          <a href="#"> <img src="/assets/images/download.png" alt=""> Save Details PDF</a>
        </div>
      </div>
    </div>

    <div class="burger">
      <div>
        <div class="content">
          <h5> Marketing of Burger </h5>
          <p> They are made with 100% beef and fat. The percentages of salt and seasoning are minimal; the properties and the flavor of the meat stand out so that the diner accompanies it to the taste. Practical and at the same time nutritious preparation. </p>
          <a href="#"> <img src="/assets/images/download.png" alt=""> Save Details PDF</a>
        </div>
      </div>
    </div>

    <div class="fruits">
      <div>
        <div class="content">
          <h5> Marketing of Fresh and Exotic Fruits </h5>
          <p> We know how important it is to eat healthy, For this reason we are committed to bringing a little health to all parts of the world where they want to enjoy the pleasure of a fresh and completely natural fruit, our products: avocade, Mamon, Papaya, cantaloupe, Mango, Tamarillo, Maracuya, Sapote, Coconut. </p>
          <a href="#"> <img src="/assets/images/download.png" alt=""> Save Details PDF</a>
        </div>
      </div>
    </div>

    <div class="pulp">
      <div>
        <h5> Marketing of Pulp Fruit </h5>
        <p> Practicality when enjoying the wonders That gives us nature, Is a requirement for us, For this reason we offer alternatives to refresh In a fast way and with the same benefits of a fresh fruit. We sell Fruit pulp. </p>
        <a href="#"> <img src="/assets/images/download.png" alt=""> Save Details PDF</a>
      </div>
    </div>

    <div class="dehydrated-fruits">
      <div>
        <div class="content">
          <h5> Marketing of Dehydrated, Lyophilized, Bio-Powder </h5>
          <p> We always look for innovation in our products, for that reason we try to give value to our products, people change and get their food. These products contain large amounts of vitamins, proteins, and other properties that they do not have in their fresh presentations. </p>
          <a href="#"> <img src="/assets/images/download.png" alt=""> Save Details PDF</a>
        </div>
      </div>
    </div>

  </div>
</section>
